* {
  padding: 0;
  margin: 0;
}

div {
  width: 300px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

div:hover {
  height: 200px;
}

#header {
  background: blue;
}

#footer {
  background: black;
}

.important {
  background: red;
}

.interesting {
  background: green;
}

.surprising {
  background: orange;
}
