body {
  margin: 0;
}

div {
  width: 300px;
  height: 100px;
  margin: auto;
}

#header {
  background-color: blue;
}

#footer {
  background-color: black;
}

.important {
  background-color: red;
}

.interesting {
  background-color: green;
}

.surprising {
  background-color: orange;
}

#header:hover,
#footer:hover,
.surprising:hover,
.interesting:hover,
.important:hover {
  height: 200px;
}
