body {
  margin: 0;
}

div {
  width: 300px;
  height: 100px;
  background-color: grey;
}

/* div[class] {
  width: 300px;
} */

div[class]:hover {
  height: 200px;
}

#header {
  background-color: blue;
}

#footer {
  background-color: black;
}

.important {
  background-color: red ;
}

.interesting {
  background-color: green;
}

.surprising {
  background-color: orange;
}

div[id],
div[class] {
  margin-left: auto;
  margin-right: auto;
}
