body {
  margin: 0;
}

#header {
  width: 300px;
  height: 100px;
  background-color: blue;
  margin: auto;
}

#footer {
  width: 300px;
  height: 100px;
  background-color: black;
  margin: auto;
}

.important {
  width: 300px;
  height: 100px;
  background-color: red;
  margin: auto;
}

.interesting {
  width: 300px;
  height: 100px;
  background-color: green;
  margin: auto;
}

.surprising {
  width: 300px;
  height: 100px;
  background-color: orange;
  margin: auto;
}

.important:hover {
  height: 200px;
}

.interesting:hover {
  height: 200px;
}

.surprising:hover {
  height: 200px;
}
