body {
  margin: 0;
  padding: 0;
}

div {
  width: 300px;
  box-sizing: border-box;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

div:hover {
  height: 200px;
}

#header {
  background-color: blue;
}

#footer {
  background-color: black;
}

.important {
  background-color: red;
}

.interesting {
  background-color: green;
}

.surprising {
  background-color: orange;
}
