
body {
  margin: 0;
}

div {
  width: 300px;
  height: 100px;
  margin: auto;
}

div:hover {
  height: 200px;
}

body > div:first-of-type {
  background-color: blue;
}

.important {
  background-color: red;
}

.interesting {
  background-color: green;
}

.surprising {
  background-color: orange;
}

body > div:last-of-type {
  background-color: black;
}
