.important {
  width: 300px;
  height: 100px;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
}

.interesting {
  width: 300px;
  height: 100px;
  background-color: green;
  margin-left: auto;
  margin-right: auto;
}

.surprising {
  width: 300px;
  height: 100px;
  background-color: orange;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  width: 300px;
  height: 100px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

#header {
  width: 300px;
  height: 100px;
  background-color: blue;
  margin-left: auto;
  margin-right: auto;
}

.important:hover {
  height: 200px;
}

.interesting:hover {
  height: 200px;
}

.surprising:hover {
  height: 200px;
}

body {
  margin: 0;
  padding: 0;
}
