
body {
  margin: 0;
}

#header {
  width: 300px;
  height: 100px;
  background: blue;
  margin: 0 auto;
}

.important {
  background: red;
}

.interesting {
  background: green;
}

.surprising {
  background: orange;
}

.important,
.interesting,
.surprising {
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.important:hover {
  height: 200px;
}

.interesting:hover {
  height: 200px;
}

.surprising:hover {
  height: 200px;
}

#footer {
  width: 300px;
  height: 100px;
  background: black;
  margin: 0 auto;
}
