body {
  margin: 0;
}

.important,
.interesting,
.surprising,
#header,
#footer {
  height: 100px;
  width: 300px;
  margin: auto;
}

#header {
  background-color: blue;
}

#footer {
  background-color: black;
}

.important {
  background-color: red;
}

.interesting {
  background-color: green;
}

.surprising {
  background-color: orange;
}

.important:hover,
.interesting:hover,
.surprising:hover,
#header:hover,
#footer:hover {
  height: 200px;
}
