
body {
  margin: 0;
}

body > div {
  margin: auto;
  height: 100px;
  width: 300px;
}

body > div:hover {
  height: 200px;
}

#header {
  background-color: blue;
}

#footer {
  background-color: black;
}

.important {
  background-color: red;
}

.interesting {
  background-color: green;
}

.surprising {
  background-color: orange;
}
